<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/home.css" />
    <link rel="stylesheet" href="/resources/css/contacto.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="icon" href="https://raw.githubusercontent.com/calypsobronte/accion-comunal/master/images/png/logo-ico.png?token=AEPC7ZEPGKSRJSZUFUM3OWLA7SQUY" />
    <title>JAC Coraz贸n Los Tanques</title>
</head>
<header>
    <nav class="navigation navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img id="brand" class="img-responsive" alt="Brand"
                        src="https://raw.githubusercontent.com/calypsobronte/accion-comunal/developer/frontend/src/image/logo-white.png?token=AEPC7ZBXRJ3RO3ZDZDSFP7TBAHVPK">
                </a>
            </div>
            <button id="navButton" class="navbar-text navbar-right btn btn-info" onclick="location.href='/login'">Inicio
                de sesion</button>
            <a href="/informacion">
                <p id="menuText" class="navbar-text navbar-right">Informacion</p>
            </a>
            <a href="/noticias">
                <p id="menuText" class="navbar-text navbar-right">Noticias</p>
            </a>
            <a href="#contacto">
                <p id="menuText" class="navbar-text navbar-right">Contacto</p>
            </a>

        </div>
    </nav>
</header>

<body>
    <!-- Header Banner -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="animated bounceInDown">JAC Coraz贸n Tanques</h1>
                        <h6>Organizaci贸n sin 谩nimo de lucro</h6>

                        <ul class="list-inline intro-social-buttons" id="headerButton">
                            <li>
                                <button href="" onclick="location.href='#sobre'" id="button"
                                    class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name">Ver
                                        mas</span></button>
                            </li>

                        </ul>
                        <div id="empty"> </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->


    </div>

    <!-- Page Content -->

    <!-- /.content-section-a -->

    <div class="content-section-a" id="sobre">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sobre la JAC Coraz贸n Tanques</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">La JAC Coraz贸n Los Tanques es una organizaci贸n que se piensa y construye en
                        comunidad. Trabaja en pro del territorio desde 1996 y con la ayuda de sus habitantes espera
                        seguir articul谩ndose permanentemente..</p>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <!-- /.image credit: simple.com -->

                    <img class=" img-responsive"
                        src="https://lh5.googleusercontent.com/p/AF1QipOQRkhm10IlUxGsMlvNqvRCJ6jy6bZe0selEuaq=s508-k-no"
                        id="responsive" alt="" />
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">



                    <h2 class="section-heading">Sabias que...</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>

                    <p class="lead">La Junta de Accion Comunal Corazon Los Tanques, nos reunimos mensualmente para
                        tratar temas de interes para la comunidad. Queremos invitarte a participar de este espacio que
                        se carga de opiniones y soluciones para las problematicas de nuestro sector.</p>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive"
                        src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/35403094_1843190069318402_8917476335660564480_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=oL8H7mmHsMgAX-edaXi&tn=1noqe-jOoP-u2TCN&_nc_ht=scontent.feoh1-1.fna&oh=0aea1db61c0c54e7c8d89303066596bf&oe=60FCDE8F"
                        alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-c -->

    <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <h2 class="section-heading">Nuestro Telecentro</h2>

                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">El Telecentro Los Tanques es un espacio abierto al p煤blico, un lugar donde puedes
                        resolver necesidades tecnol贸gicas, adem谩s de hacer recargas, sacar copias y obtener informaci贸n
                        sobre nuestro sector. <br>
                        Si tiene alguna inquietud puedes comunicarte al
                        492 42 95 .</p>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive"
                        src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/101779189_2341077109529693_4206044705420476416_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=zRv7wUHq8KYAX_4qimQ&_nc_ht=scontent.feoh1-1.fna&oh=e94c94a24a77db26afd7824aa0186b97&oe=60FDF08F"
                        alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-d -->

    <div class="content-section-d">

        <div class="container">

            <div class="row">

                <div class="col-lg-5 col-sm-6">

                    <h2 class="section-heading">Construyendo comunidad</h2>
                    <h6>Noticias, publicaciones, actividades y mucho mas.</h6>

                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">Toda la comunidad queda invitada, a pasar por nuestra pagina para que se enteren de
                        las actividades, convocatorias, talleres, noticias y muchas otras cosas para nuestra comunidad
                        Los Tanques.</p>

                    <button onclick="location.href='/noticias'" id="button"
                        class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name">Ver
                            mas</span></button>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="phone img-responsive"
                        src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/126487822_2479668992337170_5624055389316382218_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=aoP6Fjy5BNkAX8tCcw3&tn=1noqe-jOoP-u2TCN&_nc_ht=scontent.feoh1-1.fna&oh=208bc5126aae42adc19bee592ede8118&oe=60FDA8FF"
                        alt="">

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- /.content-section-e -->

    <div class="content-section-e" id="contacto">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <h2 class="section-heading-white">Contactanos</h2>

                    <hr class="section-heading-spacer-white">
                    <div class="clearfix"></div>
                    <form action="contacto" method="POST" class="cf">
                        <div class="half left cf">
                            <input type="text" id="input-name" name="nameComplete" placeholder="Nombres completos">
                            <input type="email" id="input-email" name="email" placeholder="correo electronico">
                            <input type="text" id="input-subject" name="asunto" placeholder="Asunto">
                        </div>
                        <div class="half right cf">
                            <textarea name="mensaje" type="text" id="input-message" placeholder="Mensaje"></textarea>
                        </div>
                        <input type="submit" value="Quiero contactarme" id="input-submit">
                    </form>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive"
                        src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.6435-9/34147923_1835799283390814_2219149665574584320_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=e3f864&_nc_ohc=jLBf5p9LkNAAX8ct5oN&_nc_ht=scontent.feoh1-1.fna&oh=3a7f60f6432199a91eb2e25bfcde61b7&oe=60FD0AE6"
                        alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p class="copyright text-muted small">Copyright &copy; JAL Los Tanques - 2021 todos los derechos
                        reservados</p>
                    <p class="copyright text-muted small">Creado por <a href="informacion" target="_blank" class="">Lina
                            Monta帽o & Mauricio Jaramillo</a></p>
                </div>
                <div class="col-sm-4">
                    <p class="copyright text-muted small">
                        Encuentranos en:
                    </p>
                    <div class="d-flex">
                        <a class="me-4" href="https://www.instagram.com/jaccorazontanques" target="_blank"><img
                                src="https://raw.githubusercontent.com/calypsobronte/accion-comunal/developer/frontend/src/image/instagram-24.png?token=AEPC7ZFPAMXNJ666D7V5ACLBAIF42"
                                alt="Logo de instagram"></a>
                        <a class="me-4" href="https://www.facebook.com/jaccorazontanques" target="_blank"><img
                                src="https://raw.githubusercontent.com/calypsobronte/accion-comunal/developer/frontend/src/image/facebook-24.png?token=AEPC7ZCXTKGT4QJTHSDPNR3BAIF3Q"
                                alt="Logo de Facebook"></a>
                    </div>
            </div>

        </div>
    </footer>
</body>
<script src="/resources/js/home.js"></script>

</html>